    header{
        height: 80px;
        margin:10 auto;
        background-color: white;
        margin-left: 10px auto;
        border: 0.5px solid #e6e6e6;
       
    }
		.mid-left-nav{
			width: 199px;
			float: left;
			height: 81px;
			background-color:white;
		}
		.mid-left-nav .item{
			padding: 30px;
			height: 25px;
			padding-left: 50px;

		}
		.mid-left-nav .item:hover{
			background-color: lightgray;
        }
        .prod .item:hover{
            background-color: white;
        }
        .mid-left-nav img{
            width: 63px;
            padding-left: 50px;
            padding: 15px;
        }
        .prod img{
            width: 80px;
            padding: 8px;
            padding-left: 5px;
        }
        
        a{
            color: black;
        }
		.transport-header{
           
            padding: 20px;
			height: 10px;
			background-color: rgba(177, 174, 174, 0.651);
		}
		.transport-header.item{
			padding: 30px;
			padding-left: 30px;
		}
main{
    height: 400px;
    width: 1200px;
    background-color:lightgray;
    margin: 10px auto;
}
    .left-nav{
        padding: 20px 0;
        float: left;
        width: 200px;
        height: 77%;
        background-color:white;
    }
    .left-nav .item{
        height: 45px;
        padding-left: 25px;
        line-height: 45px;
    }
    .left-nav .item:hover{
        background-color: lightgray;
    }

article{
    float: left;
    width: 1000px;
    height: 87%;
    background-color:rgb(214, 210, 210);
    margin-left: 10px auto;
}
aside{
    float: left;
    width: 200px;
    height: 87%;
    background-color:white;
}
    .right-header{
        padding: 30px;
        height: 15px;
        margin:0 auto;
        background-color: white;
    }